// Define variables for your color scheme
$black_primary: #212121;
$black_dark: #000000;
$grey_primary: #636363;
$green_primary: #54CEBE;

// Gradients
$gradient-extra-small:linear-gradient(to bottom, #000000a1, #2121210d 77%);
$gradient-small: linear-gradient(to bottom, $black_dark, $black_primary 50%);

// For example:
$red: black;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

