// _layouts.scss

.page-top-space {
  padding-top: 100px;
}

.page-content {
  position: relative;
  margin-top: -60px;
  margin-left: 0;
  margin-right: 0;
  min-height: calc(100vh - 50px);
}

.hr-content {
  background-color: white;
  min-height: 100vh;
  font-weight: lighter;

  .container {
    background: $gradient-small;
    padding: 30px !important;
  }

  h2 {
  text-transform: uppercase;
  font-weight: normal;
  }
}

.container {
  // min-width: 85vw;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

