// _layouts.scss

.page-top-space {
  padding-top: 100px;
}

.page-content {
  position: relative;
  margin-top: -60px;
}

.hr-content {
  background-color: #f7f7f7;
  min-height: 100vh;
  font-weight: lighter;

  .container {
    background: $gradient-small;
    padding: 30px;
  }

  h2 {
  text-transform: uppercase;
  font-weight: normal;
  }
}
