.hr-header {
  justify-content: space-between;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.hr-header .content-down {
  display: flex;
  align-items: flex-end;
}

.hr-header .total-price {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

#total-price {
  font-size: 36px;
  font-weight: bolder;
}

.fa-sort-up {
  color: lime;
  margin-left: 5px;
  font-size: 24px;
}
