.hr-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;

  p {
    font-size: 16px;
    font-family: $displaylight;
  }
}

.no-margin-bottom {
  margin-bottom: 0;
}

.hr-header .content-down {
  display: flex;
  align-items: flex-end;
}

.hr-header .total-price {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

#total-price {
  font-size: 38px;
  font-weight: bolder;
  height: 52px;
}

.fa-sort-up {
  color: $green_primary;
  margin-left: 5px;
  font-size: 24px;
  top: 0;
  position: relative;
  right: -6px;
}

.edit_company_policy p {
  margin-bottom: 0;
}

.hr-content {
  background: #f7f7f7;

  .container {
    padding: 60px;
    border: 1px solid white;

    .row {
      margin-right: 0px;
      margin-left: 0px;
    }
  }
  h1 {
    margin-bottom: 5px;
    font-size: 34px;
    font-family: "SFDisplay-Semibold";
  }

  h2 {
    display: block;
    margin-bottom: 26px;
    font-size: 23px;
    font-family: "SFDisplay-Semibold";
  }
  .cards-row {
    margin: 0;
  }

  .cost-category {
    padding-bottom: 36px;
    margin: 16px 0 36px;
    border-bottom: 1px solid rgba(255,255,255,0.4);
  }

  .employees-cost {
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 16px 0 36px;
  }
}

.progress-item {
  display: flex;
  align-items: center;
   margin-bottom: 16px;

  p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 16px;
    font-family: $displaysemibold;
    font-size: 18px;
    margin-bottom: 0;
    width: 20%;

    small {
      font-size: 14px;
      font-family: $displaylight;
    }
  }

  .progress {
    height: 4px;
    width: 80%;
    background: white;
    .progress-bar {
      background: $green_primary;
    }
  }
}
