<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1554222413-74348b32d66e?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9);">
  <div class="container">
    <h1>Your booking has been  <strong>confirmed</strong></h1>
    <p>Have a nice trip from Berlin to Munich.</p>
  </div>
</div>
