<div class="banner" id= "home-banner">
  <div class="container">

    <div class="row", id="home-banner-items">

      <div class="col-6">
        <h1 id="subheader-home">Business Trips made easy with Travelbuddy</h1>
        <br>
        <h4 class="text-left", id="subheader-home">Book your entire business trip in just 3 clicks. Your train, hotel and rental car in one package.</h4>
        <br>
      </div>

      <div class="col-6">
        <%= render 'shared/search_form', locals: { cl: @class }  %>
      </div>

    </div>

  </div>
</div>
