<div class="banner" id= "home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1544971590-a6d2ed58c7df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);">
  <div class="container">

    <div class="row justify-content-between">

      <div class="col-6">
        <h1 id="subheader-home">Business-Trips made easy with Travelbuddy</h1>
        <br>
        <h4 class="text-left", id="subheader-home">Book your entire Business-Trip in just three clicks. - Your train, Hotel and Rental car in one package.</h4>
        <br>
      </div>

      <div class="col-6">
        <%= render 'shared/search_form', locals: { cl: @class }  %>
      </div>

    </div>



  </div>
</div>
