<div class="banner" id= "home-banner">
  <div class="container">

    <div class="row", id="home-banner-items">

      <div class="col-6">
        <h1 id="subheader-home">Business trips made easy with TravelBuddy</h1>
        <br>
        <p class="text-left", id="subheader-home">Book your entire business trip in just 3 clicks. <br> Your train, hotel and rental car in one package!</p>
        <br>
      </div>

      <div class="col-6">
        <%= render 'shared/search_form', locals: { cl: @class }  %>
      </div>

    </div>

  </div>
</div>
