  <div class="banner" id= "home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1544971590-a6d2ed58c7df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);">
  <div class="container">
    <div class="row", id="home-banner-items">

      <div class="col-6">
        <h1 id="subheader-home" class="uppcase-font">Reinventing business traveling</h1>
        <br>
        <p class="text-left", id="subheader-home">Book your entire business trip with just 3 clicks. <br> Find one of our tailored travel packages, which have been curated for you based on your company policy and personal preferences. </p>
        <br>
      </div>

      <div class="col-6">
        <%= render 'shared/search_form', locals: { cl: @class }  %>
      </div>

    </div>

  </div>
</div>
