<div class="banner" id= "home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1544971590-a6d2ed58c7df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80);">
  <div class="container">

    <div class="row justify-content-between">
      <div class="col-6">
        <h1 class="text-left">TRAVELBUDDY</h1>
        <h2 id="subheader-home">Business-Trips made easy</h2>
        <br>
      </div>
    </div>

    <div class="row justify-content-between">
      <div class="col-6 container">
        <div class="cards">
          <div class="card-category"><%= image_tag "train_icon.png" %></div>
          <div class="card-category"><%= image_tag "hotel_icon.png" %></div>
          <div class="card-category"><%= image_tag "car_icon.png" %></div>
        </div>
      </div>

    <%= render 'shared/search_form' %>
    </div>

  </div>
</div>
