  <div class="banner" id= "home-banner">
  <div class="container">
    <div class="row", id="home-banner-items">

      <div class="col-6">
        <h1 id="subheader-home" class="uppcase-font">Reinventing business traveling</h1>
        <br>
        <p class="text-left", id="subheader-home">Book your entire business trip with just 3 clicks. <br> Find one of our tailored travel packages, which have been curated for you based on your company policy and personal preferences. </p>
        <br>
      </div>

      <div class="col-6">
        <%= render 'shared/search_form', locals: { cl: @class }  %>
      </div>

    </div>

  </div>
</div>
