  <div class="banner" id= "home-banner">
  <div class="container">
    <div id="home-banner-items">
      <div style ="padding-right: 25px;">
        <h1 id="subheader-home" class="uppcase-font">Reinventing business traveling</h1>
        <br>
        <p class="text-left", id="subheader-home">Book your entire business trip with just 3 clicks. Find your tailored travel package from <strong style="color:#54CEBE">TravelBuddy</strong>.</p>
        <p class="text-left", id="subheader-home">TravelBuddy's algorithm ensures that trips are curated based on your <br>personal preferences and company policy.</p>
      </div>

      <div>
        <%= render 'shared/search_form', locals: { cl: @class }  %>
      </div>

    </div>

  </div>
</div>
