// _button.scss
.btn-custom {
  color: white;
  border-radius: 12px;
  background-color: $black_dark;
  top: 9px;
  position: relative;
  padding: 12px 36px;
  font-size: $font_medium;
  font-family: $displaylight;
  background: $gradient-small;
  border: 1px solid $black_dark;
  text-decoration: none;
  z-index: 2;
}

.btn-custom:hover {
  color: grey;
  text-decoration: none;
}


// .btn-hr {
//   color: white;
//   background: $black_dark;
//   padding: 8px 16px;
//   font-size: $font_medium;
//   font-family: $displaylight;
//   border: 1px solid white;

//   &:hover {
//     color: white;
//   }
//   }
