.container-fluid {
  padding: 0;
}

#wrapper2-style {
  background-color:transparent;
  align:center;
  padding-left:180px;
}


#booking-btn {
  width:600px;
  padding-left:650px;
  color: white;
}

#booking-vh {
  height: 100vh;
}
