.cards {
  grid-gap: 16px;
  width: 100%;
  text-align: center;
  margin-top: 40px;

  .card-category {
    display: flex;
    width: 150px;
    background-color: white;
    border-radius: 50%;
    height: 150px;
    justify-content: center;
    align-items: center;

    img {
      width: 95px;
    }
  }
}
