.hr-card {
  padding: 16px 20px;
  min-width: 320px;

  .misc span {
    width: 100%;

    .card-hr-details {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 26px;

      .card-hr-content {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .misc span abbr {
    width: 100%;

    &:after {
      top: 14px;
      left: 78%;
    }

    small {
      margin-left: 12px;
      color: rgba(255,255,255,0.6);
      font-size: 0.9rem;
      font-size: bold;
    }
  }

  .misc p {
    margin-bottom: 0;
    font-size: 20px;
  }

  .misc small {
    color: $grey_primary;
  }
}

