// _index-billboard.scss
.index-border {
  border: 1px solid $black_dark;
  background-color: $black_primary;
  padding: 30px;
  // width: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background: $gradient-small;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.index-item {
  margin-right: 20px;
  width: 350px;
  height: 200px;
}

.btn-index {
  padding: 10px 0;
}
