// _index-billboard.scss
.index-border {
  position: relative;
  padding: 0 0 40px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  margin: 20px 0 15px;

  &:after {
    content: '';
    position: absolute;
    height: 146px;
    top: 33px;
    left: -13px;
    width: calc(100% + 25px);
    border: 1px solid white;
    border-radius: 20px;
  }
}

.index-item {
  margin-right: 20px;
  width: 350px;
  height: 200px;
}

.btn-index {
  padding: 10px 0;
}

.btn-bookings {
  font-family: $displaysemibold;
  padding: 10px 15px;
  width: 100%;
}

.index-item-buttons {
  text-align: right;
  width: 200px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100px;
}

