.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;

  .nav-item {
    a.nav-link {
      color: white;
      border-radius: 12px;
      background-color: $black_dark;
      padding: 8px 16px;
      font-size: $font_small;
    }
    a.nav-link:hover {
      background-color: $black_primary;
      color: white;
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-flex {
  display: flex;
  align-item: center;
}
