.navbar-lewagon {
  justify-content: space-between;
  background: $gradient-extra-small;
  color: white;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  font-size: $font_small;

  .nav-item {
    margin: 5px;
    a.nav-link {
      color: white;
      border-radius: 12px;
      background-color: $black_dark;
      padding: 8px 16px;
      font-size: $font_small;
      font-family: $displaylight;
      background: $gradient-small;
    }
    a.nav-link:hover {
      background-color: $black_primary;
      color: grey;
    }
  }
}

.navbar-lewagon-white {
  background: white;

  .nav-item {
    color: black;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-flex {
  display: flex;
  align-items: center;
}
