:root {
  /*COLORS*/
  --black: #000;
  --light-black: #1E1D1E;
  --grey: #686868;
  --dark-grey: #181818;

  /*FONTS*/
  --title-font: "SFDisplay-Light", serif;
  --body-font: "SFDisplay-Regular", sans-serif;

  /*GRADIENTS*/
  --gradient: linear-gradient(to bottom, var(--black) 10%, var(--light-black));
  --gradient-darker: linear-gradient(to bottom, var(--black) 15%, var(--dard-grey));
  --gradient-reversed: linear-gradient(to top, var(--black) 10%, var(--light-black));

  /*BOX SHADOW*/
  --shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

body {
  padding-top: 60px;
  background-color: var(--light-black);
  color: white;
  font-family: var(--body-font);
}

.misc {
  span {
    display: flex;
    flex-direction: column;
    font-family: var(--title-font);
    font-weight: 400;

    small {
      font-family: var(--body-font);
      font-weight: 300;
      font-size: 0.7rem;

      i {
        display: block;
        margin-bottom: 6px;
        font-style: normal;
        font-size: 0.9rem;
      }
    }
  }

}

.card-1 {
  grid-row-start: 2;
  grid-column-start: 2 * 2 - 1;
  grid-column-end: span 2;
  background: var(--gradient-darker);
  box-shadow: var(--shadow);
  border-radius: 20px;
  z-index: 1;
  border: 1px solid rgba(250, 250, 250, 0.250);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;

  .card-provider {
    display: flex;
    align-items: center;
    img {
      object-fit: cover;
      display: inline-block;
      margin-right: 8px;
      height: 36px;
      width: 36px;
      background-color: white;
      border-radius: 3px;
    }

    small {
      display: inline-block;
    }
  }

  .card-price {
    position: absolute;
    padding: 8px 20px;
    bottom: 20px;
    right: 0;
    color: var(--light-black);
    border-radius: 20px 0 0 20px;
    background: white;
      p {
        font-weight: bold;
        margin-bottom: 0;
      }
  }
}

.schedules {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 120px;

  ul {
    display: flex;
    list-style: none;
    padding: 0 0 3px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      width: calc(130%);
      height: 1px;
      top: 20px;
      background-color: white;
      opacity: 0.3;
    }

    li:not(:first-of-type) {
      margin-left: 16px;
    }

    li {
      font-size: 12px;
      opacity: 0.6;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }

    li.active {
      opacity: 1;
    }
  }

  .schedule {
    display: block;
    position: absolute;
    top: 30px;
  }

  .schedule.hidden {
    display: none;
    position: absolute;
    top: 30px;
  }

  img {
    object-fit: cover;
    margin-right: 12px;
    width: 60px;
    height: 60px;
    border-radius: 3px;
    background-color: white;
  }

  span abbr {
    position: relative;
    margin-right: 22px;
    padding-right: 10px;

  }
}
