
.card-train{
  height: 200px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 10px;
  background-color:rgb(10,10,10);
  border-radius:15px;
  background: $gradient-small;
  border: 1px solid rgba(255,255,255, 0.4);
  color: white;
}

.card-train img {
  height: 100%;
  width: 100px;
  object-fit: cover;
}

.card-train h2 {
  font-size: 16px;
  font-weight: bold;
  color:white;
  margin: 0;
}

.card-train p {
  font-size: 12px;
  color:white;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-train .card-train-infos {
  padding-left: 16px;
}


.card-train-infos {
  width:280px;
  height:170px;
}

